*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 8px;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

/*  ============================================ */

/*  ============================================ */

/*  ============================================ */

/* Navigasi Bar */

.navigation {
  padding-block: 4rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24rem;
}

.navbar .logo {
  font-family: "Roboto";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  text-decoration: none;
  color: #f15757;
}

.navbar > .nav-list {
  display: flex;
  gap: 4rem;
  list-style-type: none;
}

.navbar > .nav-list > li a {
  font-size: 2.5rem;
  text-decoration: none;
  color: black;
  transition: 0.05s ease-in-out;
}

.navbar .nav-list a:hover {
  color: #f15757;
  font-weight: bold;
}

.nav-icons {
  display: flex;
  gap: 5rem;
}

.nav-icons img {
  width: 30px;
  height: 30px;
}

/*  ============================================ */

/*  ============================================ */

/*  ============================================ */

/* jumbotron */

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-inline: 8rem;
}

.jumbotron > .copywriting {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.benefit {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

.benefit > .value {
  padding: 1.5rem;
  border-radius: 2rem;
  background-color: #ffe7e5;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.content > h1 {
  font-size: 7rem;
}

.content > p {
  line-height: 4rem;
  font-size: 2.5rem;
  font-family: "Poppins";
  text-align: justify;
  width: 600px;
}

.content > .button {
  font-family: "Quicksand", sans-serif;
  border: 0.3rem solid #f15757;
  border-radius: 1.5rem;
  width: fit-content;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #f15757;
  text-decoration: none;
  cursor: pointer;
}

.content > .button:hover {
  background-color: #f15757;
  color: white;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 600px;
}
